@page "/weeklyforecast"
<h3>Weekly Forecast</h3>

<div class="card bg-light" style="width: 18rem;">
    <div class="card-body text-center">
        <span class="oi oi-rain"></span>
        <h1 class="card-title">17 C</h1>
        <p class="card-text">Rainy weather expected Monday</p>
    </div>
</div>

@code {

}
